@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide the scrollbar for IE, Edge, and Firefox */
  .custom-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Inside your styles.css (or any CSS file where you include Tailwind CSS) */
@layer utilities {
    /* You can add any other utility classes you need */
    .custom-scrollbar {
      /* Add any other Tailwind CSS utility classes you want for styling the container */
      /* For example: bg-white, p-4, rounded-lg, etc. */
      /* Remember to define the height and max-height to limit the container size and enable scrolling */
      height: 450px;
      max-height: 450px;
    }
  }
  